<%= form_with model: @comment, url: post_comments_path(@post), class: "form-inline" do |f| %>
  <div class="form-group">
    <%= f.text_field :content, placeholder: "Make a comment", required: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Add", remote: true, class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>