<table class="table table-bordered">
  <thead>
    <tr>
      <th>Accounts which have requested</th>
      <th>Accept Request</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= User.find(request.follower_id).username %></td>
        <td><%= link_to 'Accept the request', accept_follow_request_path, method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
