<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Accounts which have requested</th>
      <th scope="col">Accept Request</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.follower_id %></td>
        <td><%= link_to 'Accept the request', accept_follow_request_path, method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>