<br><br>
<div class="container">
  <div class="row">
    <div class="post-show">
      <div class="post-wrapper">
        <%= cl_image_tag @story.image.key %>
        <br><br><%= link_to 'Delete This Story', story_path(@story), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</div>
