<div class="post">
  <div class="profile-wrapper">
  	<div class="post-item">
	    <div class="post-item-info">
				<span><%= post.likes.count %></span><i class="fas fa-heart"></i>
				<span><%= post.comments.count %></span><i class="fas fa-comment"></i>
			</div>
			<%= link_to image_tag(post.images.first), post_path(post) if post.images.attached? %>
  	</div>
  </div>
</div>
