// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-show {
  margin-top: 7%;
  margin-left: 12%;
  .post-wrapper {
    width: 650px;
    height: 510px;
    img{
      width: 90%;
      height: 100%;
    }
  }
  .post-profile-wrapper {
    width: 45px;
    height: 45px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
      margin-left: 50%;
    }
  }
  .username {
    font-size: 17px;
    margin-top: 20px;
    color: black;
    margin-left: 10%;
  }
}


.single-post{
  float: left;
  margin: 15px;
  .post-wrapper{
    width: 280px;
    height: 280px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 2%;
    }
    margin: 10% 0 0 50%;
  }
  .post-item{
    position: relative;
    color: #fff;
    cursor: pointer;
  }
  .post-item:hover .post-item-info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30%;
    height: 10%;
    margin: 42% 0 0 36%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .fa-heart{
    margin-right: 20%;
  }
  .post-item-info{
    display: none;
  }
  .post-item-likes{
      margin-right: 2.2rem;
  }
  .post-item-comments{
      margin-right: 2.2rem;
  }
}
