// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn{
  color: inherit;
}

.btn{
  color: inherit;
}

.devise-form {
  margin-left: 8%;
  text-align: center;
  width: 55%;
  .main {
    padding: 10%;
  }
}

header{
  padding-top: 11px;
  padding-bottom: 7px;
  border: 1px solid #edeeee;
  .header-logo{
    img{
     width: 110px;
     margin-left: 35%;
    }
  }
  .header-search{
    input{
      margin-top: 2%;
      background-color: #fafafa;
      border: 1px solid #edeeee;
      text-align: center;
      padding: 5px 30px;
    }
  }
  .navbar_margin{
    margin-left: 8%;
    float: left;
  }
  .header-profile-wrapper{
    img{
      width: 7%;
      height: 7%;
      border-radius: 50%;
      margin-left: 2%;
    }
  }
}

.profile {
  .profile-image{
    margin-left: 53%;
    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }
  }
  .profile-user-name{
    display: inline-block;
    margin-left: 6%;
  }
  .profile-stats{
    margin-top: 10px;
    font-size: 17px;
    margin-right: 10%;
  }
  .profile-bio{
    font-size: 15px;
    margin-top: 20px;
  }
  .profile-real-name,
  .profile-stat-count {
    font-weight: 600;
    margin-left: 6%;
  }
  .follow-btn {
    text-transform: uppercase;
    margin-left: 20px;
    &:hover {
      border-color: inherit;
    }
  }
}

.edit-form {
  .profile-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.text-center {
  text-align: center;
}
